
  <div class="table-container">
    <div class="table-scroll">
      <table>
        <thead>
          <tr>
            <th *ngFor="let column of columns">{{ column.header }}</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let row of data">
            <td *ngFor="let column of columns">
              <ng-container *ngIf="column.field !== 'action'">
                <!-- Check if column is 'IsActive' and display buttons accordingly -->
                <ng-container *ngIf="column.field === 'IsActive'">
                  <button *ngIf="row?.['IsActive']; else inactiveButton" class="active" (click)="onIsActiveClick(row)">Active</button>
                  <ng-template #inactiveButton>
                    <button class="inactive" (click)="onIsActiveClick(row)">Inactive</button>
                  </ng-template>
                </ng-container>
                <!-- If not 'IsActive' field, display the regular data -->
                <ng-container *ngIf="column.field !== 'IsActive' && column.field !=='IsConfirmed'  ">
                  {{ row[column.field] }}
                </ng-container>
              </ng-container>
              <ng-container class="IsConfirmed" *ngIf="column.field === 'IsConfirmed'">
                <button *ngIf="!row?.['IsConfirmed']" (click)="onResendLinkClick(row)">Resend Link</button>
              </ng-container>
              <!-- <ng-container class="QBO_AccountName" *ngIf="column.field === 'QBO_AccountName'">
                <a *ngIf="row?.['QBO_AccountName']" (click)="onRemoveCompany(row)"><i class="bi bi-x-circle"></i></a>
                
              </ng-container> -->
              <ng-container class="QBO_AccountName" *ngIf="column.field === 'QBO_AccountName'">
               <a *ngIf="!row?.['QBO_AccountName']" (click)="onAddCompany(row)"><i class="bi bi-link-45deg"></i>Connect</a>
                <!-- <button *ngIf="!row?.['QBO_AccountName']" (click)="onAddCompany(row)">Connect Company</button> -->
              </ng-container>
              <!-- Actions column -->
              <ng-container *ngIf="column.field === 'action'">
                <!-- <ng-container *ngIf="ActionEdit"><button (click)="onEditClick(row)">Edit</button></ng-container>
                <ng-container *ngIf="ActionDelete"><button (click)="onDeleteClick(row)">Delete</button></ng-container> -->
                <div class="dropdown">
                  <button class=" bi-three-dots-vertical text-dark btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              
                  </button>
                  <div *ngFor="let item of actionButtons" class="dropdown-menu width" aria-labelledby="dropdownMenuButton">
                    <button style="width: 80%; height: 70%;" class="btn text-dark fw-normal" *ngFor="let item of actionButtons"   (click)="performAction(item.Action,row)">{{item.lable}}</button>
                  </div>
                </div>
              </ng-container> 

            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination">
      <label for="pageSize">Page Size:</label>
      <select id="pageSize" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
        <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
      </select>
      <button class="pagination-button" [disabled]="PageNo === 1" (click)="priviousPageChanage()"> &lt; </button>
      <ng-container *ngFor="let page of getPages()">
        <button class="pagination-button" [class.active-page]="page === PageNo" (click)="goToPage(page)">{{ page }}</button>
      </ng-container>
      <button class="pagination-button" [disabled]="PageNo * pageSize >= TotalCount" (click)="nextPageChanage()"> &gt; </button>
    </div>
  </div>

