<table style="width: 100%;border-style: 1px solid;" border="1">
    <thead>
        <tr>
            <th colspan="5">
                Shared Table
            </th>
        </tr>
        <tr>
            <th>
                Sr #
            </th>
            <th>
                Header 1
            </th>
            <th>
                Header 2
            </th>
            <th>
                Header 3
            </th>
            <th>
                Header 4
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                Col 1
            </td>
            <td>
                Col 2
            </td>
            <td>
                Col 3
            </td>
            <td>
                Col 4
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                Col 1
            </td>
            <td>
                Col 2
            </td>
            <td>
                Col 3
            </td>
            <td>
                Col 4
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                Col 1
            </td>
            <td>
                Col 2
            </td>
            <td>
                Col 3
            </td>
            <td>
                Col 4
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                Col 1
            </td>
            <td>
                Col 2
            </td>
            <td>
                Col 3
            </td>
            <td>
                Col 4
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                Col 1
            </td>
            <td>
                Col 2
            </td>
            <td>
                Col 3
            </td>
            <td>
                Col 4
            </td>
        </tr>
    </tbody>
</table>