<div class="modal fade" id="AddUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true" #addUserModal>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
        <button type="button" (click)="closeModal()" style="color: aliceblue;" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addUserform">
          <div class="row">
            <div class="col">
              <label for="FirstName">FirstName:</label>
              <input type="text" placeholder="Enter FirstName" formControlName="FirstName">
              <div *ngIf="abstract['FirstName'].touched ">
                <span class="error" *ngIf="abstract['FirstName'].errors?.['required'] ">First Name is required!</span>
                <span class="error" *ngIf="abstract['FirstName'].errors?.['minlength'] ">First Name must be 3
                  characters!</span>
                <span class="error" *ngIf="abstract['FirstName'].errors?.['maxlength'] ">First Name must be under 20
                  characters!</span>
              </div>
            </div>
            <div class="col">
              <label for="LastName">LastName:</label>
              <input type="text" placeholder="Enter LastName" formControlName="LastName">
              <div *ngIf="abstract['LastName'].touched ">
                <span class="error" *ngIf="abstract['LastName'].errors?.['required'] ">Last Name is required!</span>
                <span class="error" *ngIf="abstract['LastName'].errors?.['minlength'] ">Last Name must be 3
                  characters!</span>
                <span class="error" *ngIf="abstract['LastName'].errors?.['maxlength'] ">Last Name must be under 20
                  characters!</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="Email">Email:</label>
              <input type="Email" placeholder="Enter Username" formControlName="Email">
              <div *ngIf="abstract['Email'].touched ">
                <span class="error" *ngIf="abstract['Email'].errors?.['required']">Email is a required ! </span>
                <span class="error" *ngIf="abstract['Email'].errors?.['email']">Email is Not valid ! </span>
              </div>
            </div>
            <div class="col">
              <label for="contactNo">contactNumber:</label>
              <input type="text" placeholder="Enter contactNumber" formControlName="contactNo"
                onkeypress="return event.charCode>=48 && event.charCode<=57">
              <div *ngIf="abstract['contactNo'].touched ">
                <span class="error" *ngIf="abstract['contactNo'].errors?.['required']">contactNumber is a required !
                </span>
                <span class="error" *ngIf="abstract['contactNo'].errors?.['minlength']">contactNumber must be 10 Digit !
                </span>
                <span class="error" *ngIf="abstract['contactNo'].errors?.['maxlength']">contactNumber must be 10 Digit !
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="Role">Role:</label>
                <select class="form-select" id="role" aria-label="Role" formControlName="Role">
                  <option selected disabled>Select Role</option>
                  <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
                </select>
                <div *ngIf="abstract['Role'].touched ">
                  <span class="error" *ngIf="abstract['Role'].errors?.['required']">
                    Role is a required ! </span>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" (click)="closeModal()" #closebutton class="btn btn-secondary"
          data-dismiss="modal">Close</button>
        <button type="button" id="addUserButton" (click)="isEditMode ? UpdateUserButton() : AddUserButton()"
          class="btn btn-primary">
          {{ isEditMode ? 'Update User' : 'Add User' }}
        </button>

      </div>
    </div>
  </div>
</div>

<div class="action-container">
  <form class="form-inline" [formGroup]="UserDetailform">
    <div class="input-group md-form form-sm form-1 pl-0" style="margin-right: 2rem;">
      <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search"
        formControlName="GlobalSearch">
      <div class="input-group-prepend">
        <a class="input-group-text purple lighten-3" id="basic-text1" (click)="Search()"><i class="bi bi-search"></i>
        </a>
      </div>
    </div>
  </form>
  <button type="button" class="btn btn-primary add-user-button" (click)="openModal()">
    <i class="bi bi-plus-circle"></i> Add User
  </button>
</div>

<app-table [data]="tableData" [TotalCount]="TotalCount" [columns]="tableColumns" [actionButtons]="ActionButtons"
  [PageNo]="PageNo" (isActiveClick)="ActiveInActive($event)" (actionClick)="handleActionClick($event)"
  (pageSizeChnage)="onPageSizeChange($event)" (RemoveCompany)="RemoveCompany($event)"
  (PriviousPage)="onPageChange($event)" (nextpage)="onPageChange($event)" (GotoPage)="onPageChange($event)"
  [ActionEdit]="true" [ActionDelete]="true"></app-table>

<div class="modal fade" id="AddUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true" #connectionModal>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Company connection</h5>
        <button type="button" style="color: aliceblue;" (click)="closeModalForConnection()" class="close"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="CompanyConnectionform">
          <label for="Company">Select Company:</label>
          <select class="form-select" aria-label="Company" formControlName="CompanyId">
            <option selected disabled>Select company</option>
            <option *ngFor="let company of companies" [value]="company.value">{{ company.label }}</option>
          </select>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary text-white" (click)="ConnectCompany()">
          Add Company
        </button>
        <button type="button" (click)="closeModalForConnection()" #closebutton class="btn btn-secondary"
          data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>