<div>
    <div style="color: white;padding: 15px 15px;border-bottom: 1px solid gray;">
        <span style="font-size: 18px;">Logo Here...</span>
    </div>
    <div>
        <ul style="list-style: none;">
            <li style="width: 100%;padding: 15px 0px;color: white;">
                <a routerLink="home" style="text-decoration: none;color: white;font-size: 20px;">
                    Home
                </a>
            </li>
            <li style="width: 100%;padding: 15px 0px;color: white;">
                <a routerLink="setting" style="text-decoration: none;color: white;font-size: 20px;">
                    setting
                </a>
                <ul style="list-style: none;">
                    <li style="width: 100%;padding: 15px 0px;color: white;">
                        <a routerLink="setting/company" style="text-decoration: none;color: white;font-size: 20px;">
                            Company
                        </a>
                    </li>
                  
                </ul>
                <ul style="list-style: none;">
                    <li style="width: 100%;padding: 5px 0px;color: white;">
                        <a routerLink="setting/users" style="text-decoration: none;color: white;font-size: 20px;">
                            User
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>