.form-wrapper {
  display: flex;
  align-items: center;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  flex-grow: 1;
  margin-right: 20px;
  margin-bottom: 15px;
}

.error {
  color: red;
}

.Download {
  margin-top: 8px;
}
.card-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 1200px;
  margin-top: 20px;
  // display: flex;
  // flex-direction: row;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.file-input-label {
  margin-right: 10px;
}

.file-input {
  margin-left: 5px; /* Adjust as needed */
}

.card-container .form-button {
  margin-top: 20px;
}

.card-container label {
  font-weight: bold;
}
.form-control {
  width: 70%;
}

// .card-container input[type="file"] {
//   display: none;
// }

.card-container .custom-file-upload {
  border: 1px solid #ccc;
  // display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}


// error table css 

.table-container {
  margin: 20px;
  font-family: Arial, sans-serif;

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;

    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    input {
      width: 100%;
      box-sizing: border-box;
      padding: 6px;
    }

    button {
      background-color: #ff6347;
      color: white;
      border: none;
      padding: 8px;
      cursor: pointer;
    }

    button:hover {
      background-color: #d32f2f;
    }
  }

}

td .ng-invalid {
  border: 1px solid red;
}

.error-text {
  color: #ff6347;
  font-size: 12px;
  margin-top: 4px;
  z-index: 15;
  white-space: pre-wrap; /* Preserve line breaks */
}

.error-border {
  border: 1px solid red;
}