.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem auto;
}

.logo {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-top: 3rem;
    text-align: center;
}